.title_h1{
    margin-top: 80px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    @media (max-width:650px){
        font-size: 28px;
        margin-top: 60px;
    }
}

.mfp-zoom-out-cur {
    cursor: unset !important;
}

.title_section{
    display: flex;
    align-items: flex-end;
    margin-top: 75px;
    margin-bottom: 40px;
    @media (max-width:768px){
        flex-wrap: wrap;
        .more_page{width: 100%;}
    }
    .title_h1{
        margin-top: 0;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 0;
        margin-right: 40px;
    }
    .more_page{
        font-weight: bold;
        color: #0088CC;
        font-size: 18px;
        padding-bottom: 4px;
        transition: all.3s;
        path{transition: all.3s;}
        &:hover{color: #FFC83C; path{fill: #FFC83C;}}
    }
}

.news_section .title_section{margin-bottom: 25px;}