html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'GothamPro', sans-serif;
  vertical-align: baseline;
}

html{
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "GothamPro", sans-serif;
  line-height: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*{
  &:focus{outline: none;}
  box-sizing: border-box;
}

img{display: block;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }


ol, ul, li { list-style: none; }

blockquote, q {
  quotes: none;
}

blockquote:before, q:before, 
blockquote:after, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    border: none;
    outline: none;
}

button {
  outline: none;
  border: 0;
  cursor: pointer; 
}

a{
  text-decoration: none;
  color: inherit;
  transition: all.3s;
}

::-webkit-scrollbar-button {
  background: #0088CC;
  width:3px;
  height:0px
}
  
::-webkit-scrollbar-track {
  background:#0088cc;
  width: 3px;
  box-shadow:0px 0px 3px #000 inset;
}
  
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background:#0088CC;
  box-shadow:0px 1px 1px #fff inset;
}
  
// ::-webkit-resizer{
//   background-image:url('');
//   background-repeat:no-repeat;
//   width:7px;
//   height:0px
// }
  
::-webkit-scrollbar{
  width: 3px;
}