@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.woff") format("woff");
  src: url("../fonts/GothamPro.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
  
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Black.woff") format("woff");
  src: url("../fonts/GothamPro-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Italic.woff") format("woff");
  src: url("../fonts/GothamPro-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}