.wrap {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .col_2 {
    width: calc(100% / 6 - 30px);
    margin: 15px;
  }
  .col_3 {
    width: calc(100% / 4 - 30px);
    margin: 15px;
  }
  .col_4 {
    width: calc(100% / 3 - 30px);
    margin: 15px;
  }
  .col_5 {
    width: calc(100% / 2.4 - 30px);
    margin: 15px;
  }
  .col_6 {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .col_7 {
    width: calc(100% / 4 + 100% / 3 - 30px);
    margin: 15px;
  }
  .col_8 {
    width: calc(100% / 3 * 2 - 30px);
    margin: 15px;
  }
  .col_9 {
    width: calc(75% - 30px);
    margin: 15px;
  }
  .no_marg_vert{margin-top: 0; margin-bottom: 0;}
  @media (max-width:1300px){
    .col_2_scr1300 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr1300 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr1300 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr1300 {
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr1300{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr1300 {
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr1300 {
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr1300 {
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr1300{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:1200px){
    .col_2_scr1200 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr1200 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr1200 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr1200 {
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr1200{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr1200 {
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr1200{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr1200{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr1200{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:1100px){
    .col_2_scr1100 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr1100 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr1100 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr1100 {
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr1100{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr1100 {
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr1100{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr1100{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr1100{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:1024px){
    .col_2_scr1024 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr1024 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr1024 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr1024 {
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr1024{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr1024 {
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr1024{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr1024{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr1024{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:920px){
    .col_2_scr920 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr920 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr920 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr920 {
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr920{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr920{
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr920{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr920{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr920{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:840px){
    .col_2_scr840 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr840 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr840 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr840 {
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr840{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr840{
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr840{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr840{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr840{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:768px){
    .col_2_scr768 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr768 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr768 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr768{
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr768{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr768{
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr768{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr768{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr768{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:650px){
    .col_2_scr650 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr650 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr650 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr650{
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr650{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr650{
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr650{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr650{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr650{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:420px){
    .col_2_scr420 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr420 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr420 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr420{
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr420{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr420{
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr420{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr420{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr420{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:380px){
    .col_2_scr380 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr380 {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr380 {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr380{
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr380{
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr380{
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr380{
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr380{
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr380{
      width: 100%;
      margin: 15px;
    }
  }
  @media (max-width:320px){
    .col_2_scr320 {
      width: calc(100% / 6 - 30px);
      margin: 15px;
    }
    .col_3_scr320  {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
    .col_4_scr320  {
      width: calc(100% / 3 - 30px);
      margin: 15px;
    }
    .col_5_scr320 {
      width: calc(100% / 2.4 - 30px);
      margin: 15px;
    }
    .col_6_scr320 {
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    .col_7_scr320 {
      width: calc(100% / 4 + 100% / 3 - 30px);
      margin: 15px;
    }
    .col_8_scr320 {
      width: calc(100% / 3 * 2 - 30px);
      margin: 15px;
    }
    .col_9_scr320 {
      width: calc(75% - 30px);
      margin: 15px;
    }
    .col_12_scr320{
      width: 100%;
      margin: 15px;
    }
  }
}
.flex{display: flex;}
.flex_between{
  justify-content: space-between;
}
.flex_end{
  justify-content: flex-end;
}
.flex_start{
  justify-content: flex-start;
}
.align_center{align-items: center;}
.align_end{align-items: flex-end;}
.col_2 {
  width: calc(100% / 6);
}
.col_3 {
  width: calc(100% / 4 );
}
.col_4 {
  width: calc(100% / 3);
}
.col_5 {
  width: calc(100% / 2.4);
}
.col_6 {
  width: calc(100% / 2);
}
.col_7 {
  width: calc(100% / 4 + 100% / 3);
}
.col_8 {
  width: calc(100% / 3 * 2);
}
.col_9 {
  width: 75%;
}

@media (max-width:1300px){
  .col_2_scr1300 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr1300 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr1300 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr1300 {
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr1300{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr1300 {
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr1300 {
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr1300 {
    width: calc(75% - 30px);
  }
  .col_12_scr1300{
    width: 100%;
  }
}
@media (max-width:1200px){
  .col_2_scr1200 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr1200 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr1200 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr1200 {
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr1200{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr1200 {
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr1200{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr1200{
    width: calc(75% - 30px);
  }
}
@media (max-width:1100px){
  .col_2_scr1100 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr1100 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr1100 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr1100 {
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr1100{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr1100 {
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr1100{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr1100{
    width: calc(75% - 30px);
  }
}
@media (max-width:1024px){
  .flex{flex-wrap: wrap;}
  .col_2_scr1024 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr1024 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr1024 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr1024 {
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr1024{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr1024 {
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr1024{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr1024{
    width: calc(75% - 30px);
  }
  .col_12_scr1024{
    width: 100%;
  }
  .wrap_scr1024{
    flex-wrap: wrap;
  }
}
@media (max-width:920px){

  .hide_scr920{display: none;}
  .col_2_scr920 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr920 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr920 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr920 {
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr920{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr920{
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr920{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr920{
    width: calc(75% - 30px);
  }
}
@media (max-width:840px){
  .col_2_scr840 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr840 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr840 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr840 {
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr840{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr840{
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr840{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr840{
    width: calc(75% - 30px);
  }
}
@media (max-width:768px){
  .col_2_scr768 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr768 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr768 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr768{
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr768{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr768{
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr768{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr768{
    width: calc(75% - 30px);
  }
}
@media (max-width:650px){
  .hide_scr650{display: none;}
  .col_2_scr650 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr650 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr650 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr650{
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr650{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr650{
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr650{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr650{
    width: calc(75% - 30px);
  }
}
@media (max-width:420px){
  .col_2_scr420 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr420 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr420 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr420{
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr420{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr420{
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr420{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr420{
    width: calc(75% - 30px);
  }
}
@media (max-width:380px){
  .col_2_scr380 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr380 {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr380 {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr380{
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr380{
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr380{
    width: calc(100% / 4 + 100% / 3 - 30px);
  }
  .col_8_scr380{
    width: calc(100% / 3 * 2 - 30px);
  }
  .col_9_scr380{
    width: calc(75% - 30px);
  }
}
@media (max-width:320px){
  .col_2_scr320 {
    width: calc(100% / 6 - 30px);
  }
  .col_3_scr320  {
    width: calc(100% / 4 - 30px);
  }
  .col_4_scr320  {
    width: calc(100% / 3 - 30px);
  }
  .col_5_scr320 {
    width: calc(100% / 2.4 - 30px);
  }
  .col_6_scr320 {
    width: calc(100% / 2 - 30px);
  }
  .col_7_scr320 {
    width: calc(100% / 4 + 100% / 3 - 30px); 
  }
  .col_8_scr320 {
    width: calc(100% / 3 * 2 - 30px); 
  }
  .col_9_scr320 {
    width: calc(75% - 30px); 
  }
}

.relative{
  position: relative;
}


// @media(max-width: 420px) {
//   width: 100%;
// }