// Функции //

// Светлее
@function lighter($color, $tone) {
    $adjust: 16*$tone;
    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

// Темнее
@function darker($color, $tone) {
    $adjust: -16*$tone;
    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}


// Замена символов в строке
//==============================================================
// Replace `$search` with `$replace` in `$string`
// @param {String} $string - Initial string
// @param {String} $search - Substring to replace
// @param {String} $replace ('') - New value
// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}


// Иконка длинной стрелки в бекграунде
// Использовать как background: url("#{arrow_icon_bg($accentcolor)}") no-repeat center;
// ===================================================================
@function arrow_icon_bg($svg-color: false) {

    // Checking if a color value has been passed down     
    @if($svg-color !=false) {
        $svg-color-str: quote(#{$svg-color}); // Adding quotes around Hex value so its actually a string
        $svg-color: str-replace($svg-color-str, "#", ""); // if the color has a "#" at the start it will be removed from the string
        @return "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$svg-color}' viewBox='0 0 20.731 11'%3E%3Cg transform='translate(8.191 -41.346)'%3E%3Cg %3E%3Cpath d='M12.328,46.332,7.553,41.557a.726.726,0,0,0-1.023,0l-.434.434a.718.718,0,0,0-.211.512.732.732,0,0,0,.211.518l2.786,2.792H-7.477a.706.706,0,0,0-.714.712v.613a.733.733,0,0,0,.714.743H8.914L6.1,50.687a.717.717,0,0,0,0,1.016l.434.432a.726.726,0,0,0,1.023,0l4.775-4.775a.73.73,0,0,0,0-1.027Z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"
    }
}