$font_bold: 'GothamPro';
$font_bold_file: 'GothamPro-Black';

$font_light: 'GothamPro';
$font_light_file: 'GothamPro';

$font_decorative: 'GothamPro';
$font_decorative-file: 'GothamPro-Italic';

$font_size_def: 16px;
$line_height_def: 1.3;

$gap: 30px;
$border_radius: 3px;
$bordercolor: #d9d9d9;

$sitebackground: #fff;
$firstcolor: #f2f2f2;
$secondcolor: #070707;
$accentcolor: #FFC83C;

$fontcolor: #070707;
$yellow: #FFC83C;

$white: #fff;
$black: #000;

$blue: #0088CC;
