.promo_slider{
    .home_slider__arrows{
        position: absolute;
        bottom: 25px;
        width: 100%;
    }
    .slide{
        padding: 80px 0 100px;
        color: #fff;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        display: flex !important; align-items: center;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right,#013651c5, #00446600);
        }
        .wrap{
            position: relative;
        }
        min-height: 450px;
        max-height: 450px;
        box-sizing: border-box;
        
    }
    .slide_title{
        font-size: 43px;
        font-weight: bold;
        margin-bottom: 20px;
        text-shadow: 0 3px 6px rgba(0,0,0,0.56);
        @media (max-width:1024px) {
            font-size: 32px;
        }
        @media (max-width:560px) {
            font-size: 28px;
        }
    }
    .slide_subtitle{
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 3px 6px rgba(0,0,0,0.56);
        margin-bottom: 25px;
        @media (max-width:560px) {
            font-size: 18px;
        }
    }
    .button_yellow{margin-top: 25px;}
}
.slider_arrows{
    .arrow{
        transition: all.3s;
        opacity: 0.3;
        cursor: pointer;
        path{transition: all.3s;}
        &:hover{opacity: 1;}
    }

}

