.home_grants{
    .title_h1{
        margin-bottom: 15px;
    }
    .subtitle{
        font-weight: bold;
        font-size: 24px;
        max-width: 1000px;
        margin-bottom: 30px;
    }
    p{max-width: 1000px;}
    .button_blue{margin-top: 30px;}
} 

.facts{
    .item{
        margin: 30px 0 0;
        padding: 25px 20px 25px 70px;
        position: relative;
        background: #fff;
        font-size: 17px;
        box-shadow: 0 3px 6px #0088cc31;
        &:before{
            position: absolute;
            top: calc(50% - 34px);
            left: 20px;
            color: #FFC83C;
            font-weight: bold;
            font-size: 60px;
            opacity: 0.35;
        }
        &:nth-child(1)::before{content: '1';}
        &:nth-child(2)::before{content: '2';}
        &:nth-child(3)::before{content: '3';}
        &:nth-child(4)::before{content: '4';}
    }
}
.home_fact_section{
    .button_blue{margin-top: 30px;}
    img{max-height: 450px; object-fit: contain; object-position: bottom;}
}
.different_links_section{
    margin-top: 95px;
    .link{
        display: flex;
        align-items: center;
        min-height: 240px;
        box-sizing: border-box;
        transition: all.3s;
        padding: 45px;
        font-size: 35px;
        font-weight: bold;
        color: #fff;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        span{position: relative; z-index: 5;}
        &:before{
            content: '';
            background: #013751;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all.4s;
        }
        &:hover{
            transform: translate(3px, - 5px);
            box-shadow: 0 6px 10px #0363926e;
            // &::before{opacity: 0.6;}
        }
        @media (max-width:768px){
            padding: 25px 10px;
            min-height: auto;
            font-size: 26px;
        }
    }
}