.button_yellow{
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
    display: block;
    width: fit-content;
    font-weight: bold;
    color: #070707;
    text-decoration: none;
    font-family: inherit;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: all.4s;
    text-transform: uppercase;
    background: #FFC83C;
    border-radius: 5px;
    &:hover{
        background: #cea130;
    }
}

.button_blue{
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
    display: block;
    width: fit-content;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: inherit;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: all.4s;
    text-transform: uppercase;
    background: #0088CC;
    border-radius: 5px;
    &:hover{
        background: #0173ac;
    }
}



