.about_nav_slider{
    margin: -15px -15px 0;
    z-index: 5;
    .slide{padding: 15px;}
    .back{
        position: relative;
        padding: 30px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 170px;
        border-radius: 5px;
        overflow: hidden;
        background-size: cover;
        box-shadow: 0 3px 6px #0088cc3b;
        background-repeat: no-repeat;
        transition: all.3s;
        &:hover{
            box-shadow: 0 6px 10px #0363926e;
            transform: translate(3px, -5px);
        }
        &::before{
            content: '';
            background: #013751;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.45;
        }
        .title{
            color: #fff;
            font-size: 17px;
            font-weight: bold;
            position: relative;
            text-transform: uppercase;
            text-shadow: 0 3px 6px #013751;
        }
        .more{
            position: relative;
            font-weight: bold;
            font-size: 14px;
            color: #FFC83C;
        }
    }
    @media (max-width:1280px) {
        padding: 0;
        width: calc(100% - 70px);
        margin: 0 auto;
        .slide{padding: 5px;}
    }
    @media (max-width:900px) {
        .slide{padding: 5px;}
    }

}

.arrow_side{
    
    position: relative;
    .slider_arrows{
        z-index: 1;
        width: calc(100% + 120px);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        .row{
            justify-content: space-between;
        }
    }
    @media (max-width:1340px) {
        .slider_arrows{width: calc(100% + 80px);}
    }
    @media (max-width:1280px) {
        .slider_arrows{width: calc(100% + 20px);}
    }
    @media (max-width:1200px) {
        .slider_arrows{width: 100%;}
    }
}
.gallery_slider{
    z-index: 10; position: relative;
    margin:  0 -15px;
    .slide{box-sizing: border-box; padding: 0 15px;}
    @media (max-width:1280px) {
        padding: 0;
        width: calc(100% - 70px);
        margin: 0 auto;
        .slide{padding: 5px;}
    }
}
.gallery_item{
    position: relative;
    max-height: 280px;
    display: block;
    img{object-fit: cover;}
    &::before{
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
        transition: all.3s;
        opacity: 0;
        visibility: hidden;
        background: #01365181;
    }
    .magnifer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all.3s;
        visibility: hidden;
    }
    &:hover{
        &::before, .magnifer{
            opacity: 1;
            visibility: visible;
        }
    }
}

.news_slider{
    position: relative; margin:  0 -15px;
    z-index: 5;
    .slide{
        box-sizing: border-box;
        padding: 15px;
    }
    .news_item{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 5px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 330px;
        max-height: 330px;
        color: #fff;
        position: relative;
        padding: 15px;
        transition: all.3s;
        box-sizing: border-box;
        &:before{
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, #01365100, #013751);
        }
        &:hover{transform: translate(3px, -5px);box-shadow: 0 6px 10px #0363926e;}
        .content{position: relative;}
        .title{font-size:20px ;}
        .short_description{font-size: 14px;}
        .date{display: flex; align-items: center; img{margin-right: 6px;} font-size: 12px; margin: 6px 0;}
    }
    @media (max-width:1280px) {
        padding: 0;
        width: calc(100% - 70px);
        margin: 0 auto;
        .slide{padding: 5px;}
    }
}

.partner_section{
    margin-top: 65px;
    .img{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        height: 140px; 
        img{height: 100%; object-fit: contain; width: 100%;}
    }
    .partner_slider .slick-slide > div{
        border:1px solid #C3D5DE;
        transition: all.3s;
        &:nth-child(1){
            border-right: none;
            border-bottom: none;
        }
        &:nth-child(2){
            border-right: none;
        }
       
    }
    .title_h1{margin: 0 0 15px;}
    .slick-list{padding-right: 2px;}
    @media (max-width:1024px) {
        .slider_arrows{margin-bottom: 30px;}
        // .partner_slider{border-right: 1px solid #C3D5DE;}
    }
}