footer{
    background: #013751;
    padding-top: 125px;
    padding-bottom: 30px;
    &.after_offer{
        padding-top: 195px;
    }
    .logo_contain{
        margin-bottom: 30px;
        .logo_footer{max-width: 340px;}
    }
    .excerption{
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 30px;
        max-width: 440px;
        color: #fff;
        font-style: italic;
        border-left: 2px solid #fff;
    }
    .social{
        display: flex;
        justify-content: flex-end;
        a{display: block; margin-left: 8px;}
        svg{display: block;}
        path{transition: all.3s;}
        a:hover path{fill: #FFC83C;}
        @media (max-width:1024px){
            justify-content: flex-start;
        }
        @media (max-width:1024px){a{display: block; margin-right: 8px; margin-left: 0;}}
    }
    .number {
        color: #fff;
        a{font-weight: bold; font-size: 22px; display: block; transition: all.3s;}
        span{
            color: #B3B3B3;
            font-size: 14px;
        }
        &:hover a{color: #FFC83C;}
    }
    .icon{
        margin-right: 20px;
    }
    .email{
        color: #fff;
        font-weight: bold;
        a{transition: all.3s;}
        &:hover a{color: #FFC83C;}
    }
    .address{color: #fff;}
    .footer_menu{
        margin-top: 30px;
        .menu_title{
            font-size: 24px;
            color: #fff;
            font-weight: bold;
            padding-bottom: 15px;
            width: calc(100% - 30px);
            border-bottom: 3px solid #FFFFFF;
            margin-bottom: 14px;
        }
        li{
            margin:  2px 0;
            a{
                color: #fff;
                display: block;
                width: 100%;
                background: #0088cc27;
                padding: 13px 16px;
                border-left: 3px solid #ffffff83;
                border-right: 3px solid #ffffff83;
                &:hover{
                    background: #0088cc44;
                    border-left: 3px solid #FFC83C;
                 border-right: 3px solid #FFC83C;
                }
            }
        }
        a:hover{color: #FFC83C;}
    }
    .domein{
        margin-top: 100px;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
    }
    .footer_contact{flex-wrap: nowrap !important;}
}