.header_eyebrow{
    background: #E6E6E6;
    padding: 8px 0;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    .left_part{
        li{
            margin:0 15px;
        }
    }
    .right_part{
        text-align: right;
        justify-content: flex-end;
        li{
            margin:0 15px;
        }
    }
    a:hover{
        color: #0088CC;
    }
}
.header_middle{
    .head_contact{
        span{font-size: 14px;}
        .icon{margin-right: 10px;}
        .number a{font-weight: bold; display: block; font-size: 18px;}
        .number a:hover{color: #0088CC;}
        img{ max-height: 30px; max-width: 30px; 
            object-fit: contain;object-position: center;
        }
        .address p {max-width: 160px;}
    }
}

header{
    background: #fff;
    z-index: 50;
    .header_search{
        
        form{
            max-width: 200px;
            position: relative;
            button{
                position: absolute;
                right: 0;
                background: none;
                height:22px; width: 22px;
                top: 0;
                padding: 0;
                &:hover svg path{fill: #022e44;}
                svg{display: block; height: 100%; width: 100%; object-fit: contain; }
                path{transition: all.3s;}
            }

            input{
                padding:0 30px 10px 0;
                width: 100%;
                border: none;
                font-family: inherit;
                box-sizing: border-box;
                color: #0088CC;
                font-size: 16px;
                border-bottom: 2px solid #0088CC;
                &::placeholder{color: #0088cc79;}
            }
        }
    }
    .search_link{
        display: block;
        svg{display: block;}
        path{transition: all.3s;}
        &:hover path{fill:#022e44 ;}
    }
    .hide_search{display: none;}
    @media (max-width:1280px){
        .header_search{
            display: none;
        }
        .hide_search{display: block;}
       
        
    }
    @media (max-width:920px){
        position: sticky;
        top: 0;
        box-shadow: 0 3px 16px transparentize(#0088CC, 0.8);
        .row .col_3{margin-top: 8px; margin-bottom: 8px;}
    }
    .language{
        margin-left: 22px;
        position: relative;
        .lang__select_content{
            position: absolute;
            bottom: -100%;
            input{display: none;}
            label{
                padding: 3px 5px;
                display: block;
                width: 100%;
            }
        }
    }
    .header_logo{
        width: 100%;
        max-width: 220px;
    }
    .language select{
        background-image: url(../img/lang.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        border: none;
        padding: 5px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 30px;
        width: 47px;
        font-family: inherit;
        font-size: 12px;
        font-weight: bold;
        box-sizing: border-box;
        padding: 8px 13px 8px 8px;
        color: #013751;
    }
}
.header_nav{
    background: #013751;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.16);
    position: sticky;
    z-index: 100;
    top: 0;
    li{
        padding: 0 15px;
        color: #fff;
        font-weight: bold;
        position: relative;
       
        
        .sub_arrow{
            margin-left: 8px;
        }
        .border_bottom{
            padding: 7px 0;
            display: flex;
            align-items: center;
            border-bottom: 2px solid transparent;
        }
        &:hover .border_bottom{
            border-bottom: 2px solid #FFC83C;
        }
    }
    .flex_between > li > span > a:hover {color: #FFC83C;}
    
    .blind{cursor: pointer;}
    .blind svg path{transition: all.3s;}
    .blind:hover path{fill: #FFC83C;}
    .submenu{
        position: absolute;
        display: none;
        top: 100%;
        background: #013751;
        max-width: 300px;
        min-width: 300px;
        width: 100%;
        & > li{
            padding: 0;
            &:not(:nth-last-child(1)){
                border-bottom: 1px solid transparentize(#0088CC, 0.8);
            }
            a{
                width: 100%;
                display: block;
                padding: 10px 15px;
                box-sizing: border-box;
            font-size: 14px;
            font-weight: normal;
            &:hover{
                background: #022e44;
                color: #FFC83C;
            }
            }
        }
        
    }
    li:hover > .submenu{
        display: block;
    }
}

.mobile_menu_open{
    height: 30px;
    width: 37px;
    margin-left: 22px;
    position: relative;
    display: none;
    span{
        display: inline-block;
        width: 100%;
        background: #022e44;
        height: 4px;
        position: absolute;
        right: 0;
        &:nth-child(1){top: 0;}
        &:nth-child(2){top: 13px;}
        &:nth-child(3){bottom: 0px;}
    }
    @media (max-width:920px){display: block;}
}