// .modal-content{
//     .modal-title{
//         font-size: 24px;
//         font-weight: 500;
//         color: $body-color;
//     }
//     form{
//         p{
//             font-weight: 500;
//             margin: 10px 0 4px;
//             span{
//                 color: red;
//             }
//         }
//         input{
//             width: 100%;
//             padding: 10px 20px;
//             border-radius: 50px;
//             border: none;
//             background: rgba(231, 231, 231, 0.623);
//             font-family: inherit;
//             outline: none;
//         }
//         button{
//             margin-top: 25px;
//             max-width: 100%;
//             border: none;
//             background-position: center;
//             padding: 10px 0;
//         }
//         button:hover{
//             margin-top: 28px;
//         }
//     }
//     .security{
//         font-size: 12px;
//         margin-top: 15px;
//         color: #92929c;
//     }
// }

// @media(max-width:400px){
//     .modal-content{
//         .modal-title{
//             font-size: 22px;
//         }
//     }    
// }