.mobile_menu{
    position: fixed;
    height: 100%;
    max-width: 300px;
    top: 0;
    right: -100%;
    transition: all.3s;
    background: #fff;
    z-index: 80;
    box-shadow: 0 5px 60px transparentize(#0088CC, 0.95);
    overflow-y: scroll;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.nav_open{
        right: 0;
    }
    .mobile_head{
        display: flex; align-items: center;
        padding: 10px;
        p{font-size: 13px; font-weight: bold; padding-right: 30px;}
    }
    .mobile_nav > ul{
        color: #013751;
        & > li {
            background: transparentize(#013751, 0.95);
            margin-bottom: 2px;
            
            .menu_arrow{
                display: inline-block;
                margin-left: auto;
                padding-left: 20px;
                svg{display: inline-block; transition: all.3s;}
            }
           
            & > a{
                display: flex;
                justify-content: space-between;
                font-weight: bold; 
                padding: 10px;
            }
            .sub-menu li{
                padding: 6px 10px;
                background: #fff;
                &:not(:nth-last-child(1)){border-bottom: 1px solid transparentize(#013751, 0.95);}
            }
        }
        .menu-item.active .menu_arrow svg{transform: rotate(180deg);}
    }
    .mobile_footer{
        position: sticky;
        bottom: 0;
        right: 0;
        background: #fff;
        .links{
            background: #E6E6E6;
            text-transform: uppercase;
            font-weight: bold; 
            font-size: 12px;
            padding: 5px;
            a{padding: 5px;}
            margin-bottom: 5px;
        }
        .but_group{
            display: flex;
            padding: 5px;
            .button_blue{
                padding: 10px 12px;
            }
            span svg{display: block;}
            .button_yellow span{display: inline-block; margin-right: 7px;}
            .button_yellow{padding: 7px 10px; display: flex; align-items: center;}
            a{font-size: 12px; margin: 5px;}
        }
    }
}

.dark_wrapper{
    transition: all.3s;
    
}
body{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #013751;
        z-index: 70;
        opacity: 0;
        visibility: hidden;
        transition: all.3s;
    }
}
body.form_open{
    .dark_wrapper{filter: blur(5px);}
    &::before{
        visibility: visible;
        opacity: 0.7;
    }
}

