.offer_1{
    margin-top: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/offer_back.svg);
    .suggestion_offer{
        color: #0088CC;
        font-weight: bold;
        font-size: 35px;
        text-align: right;
        padding-right: 30px;
        @media (max-width:768px){
            text-align: left;
            margin-bottom: 30px;
        }
        @media (max-width:420px){
            font-size: 24px;
        }
    }
    .form_question{margin-top: -30px;}
    @media (max-width:768px){
        background-position: top;
    }
}

.form_question{
    padding: 50px 30px 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 60px #0088cc33;
    .cont_input{max-width: 330px; margin: 0 auto;}
    .title{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color: #3E3E3E;
        margin-bottom: 15px;
    }
    .subtitle{
        font-size: 14px;
        text-align: center;
        color: #3E3E3E;
        margin-bottom: 20px;
    }
    .label_input{
        font-size: 13px;
        display: block;
        margin-bottom: 6px;
        .required_star{color: red;}
    }
    .error{
        font-size: 13px;
        font-weight: bold;
        color: red;
    }
    .input__regular{
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 12px 45px 12px 15px;
        border: 1px solid transparentize(#013751, 0.8);
        font-family: inherit;
        font-size: 14px;
        font-weight: normal;
        box-shadow: 1px 1px 2px #0088cc33;
        color: inherit;
        &::placeholder{color: #0088CC; opacity: 0.5;}
    }
    .form_input{margin-bottom: 20px; display: block;}
    
    button{width: 100%;}
    textarea{max-width: 330px; min-width: 100%; min-height: 40px; padding-right: 15px !important;}
    .locked{
        margin-top: 10px;
        text-align: center;
        font-size: 11px;
        color: #707070;
        justify-content: center;
        display: flex;
        align-items: center;
        img{margin-right: 6px;}
    }
}

.offer_2{margin-top: 65px;
    position: relative;
    margin-bottom: -130px;
   .back_container{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 60px #0088cc33;
   }
   .flex{flex-wrap: nowrap !important;}
   .left_part{
       max-width: 670px;
       width: 100%;
       position: relative;
       &::before{
           content: '';
           position: absolute;
           height: 100%;
           width: 100%;
           max-width: 230px;
           top: 0;
           right: 0;
           background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
       }
       img{
           display: block;
           height: 100%;
           transition: all.3s;
           width: 100%; object-fit: cover;
       }
       @media (max-width:768px){
           max-width: 300px;
       }
       @media (max-width:650px){
           display: none;
       }
   }
   .right_part{
       max-width: 470px; width: 100%; 
       margin-left: 30px;
       @media (max-width:768px){
        max-width: 100%;
        margin-left: 0px;
    }
    }
   .form_question{box-shadow: none; 
    .title{
        text-align: left;
        font-size: 28px;
        font-weight: normal;
        max-width: 370px;
        color: #3E3E3E;
        margin-bottom: 15px;
       
    }
    .subtitle{
        font-size: 14px;
        text-align: left;
        color: #707070;
        max-width: 370px;
        margin-bottom: 20px;
    }
    .cont_input{max-width: 370px; margin: 0;}
    }
}